{% extends "layout.html" %}

{% block body %}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Account Info</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p></p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<section class="section-padding">
  <div class="container">
    <div class="display-table-cell">
      <h4>Your Profile</h4><br><br>
        <table style="border:0px">
          <tr>
            <td><h5>NAME :  </h5></td>
              <td>{{ cus[0][1] }}</td>
                </tr>
                  <tr>
                    <td><h5>MOBILE NO. :  </h5></td>
                    <td>{{ cus[0][2] }}</td>
                    </tr>
                    <td><h5>EMAIL :  </h5></td>
                    <td>{{ cus[0][3] }}</td>
                    <tr>
                    <td><h5>AGE :  </h5></td>
                    <td>{{ cus[0][5] }}</td>
                    </tr>
                    <tr>
                    <td><h5>DRIVING LICENSE NO.:  </h5></td>
                    <td>{{ cus[0][6] }}</td>
                    </tr>
        </table>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h4>YOUR BOOKINGS:</h4>
    <br>
    <br>
    <table style="width:60%;">
      <tr>
        <td style="width:20%;"><h6>BOOKING ID.<h6></td>
        <td style="width:20%;"><h6>VEHICLE NO.</h6></td>
        <td style="width:20%;"><h6>CAR TYPE</h6></td>
        <td style="width:20%;"><h6>BOOKING DATE</h6></td>
      </tr>
      {% for i in range(book|length) %}
      <tr>
      {% for j in [0,1,2,3] %}
        <td style="width:20%;">  {{ book[i][j] }}  </td>
      {% endfor %}
      </tr>

      {% endfor %}
    </table>
  </div>
</section>

{% endblock %}
