<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<!------ Include the above in your HEAD tag ---------->
<body style="margin:20px;">
<div class="container" style="margin:35%; margin-top:10%" >
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline;font-weight: bold;">
                        Payment Details
                    </h3><br><br>
                    <h4 class="panel-title" style="display: inline;font-weight: bold;">Car type:{{ res1[0][0] }}</h4><br>
                    <h4 class="panel-title" style="display: inline;font-weight: bold;">Rate/hour:{{ res1[0][1] }}</h4><br>

                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-7 col-lg-7 pl-ziro" style="padding-left: 0px;">
                                    <input type="date" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right" style=>
                            <div class="form-group">
                                <label for="cvCode">CVV</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CVV" required />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
             <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Final Payment</a>
                </li>
            </ul>
          <a href="/payment" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
					  </form>
        </div>
    </div>
</div>
</body>
</html>
